.icons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .icons {
    margin-left: 100px;
    margin-right: 110px;
    ;
  }

h1 {
    font-family: 'DotGothic16', sans-serif;
font-family: 'Poller One', cursive;
font-size: 80px;
margin-top: 40px;
margin-left: 350px;
text-shadow: 4px 4px 7px rgb(90, 133, 69);
} 

h2 {
    font-family: 'DotGothic16', sans-serif;
font-family: 'Poller One', cursive;
font-family: 'Wire One', sans-serif;
font-size: 60px;
margin-left: 615px;
}

